[
 {
   elvis,
   [
    {config,
     [#{dirs => ["src", "test"],
        ignore => [of_parser, of_lexer],
        filter => "*.erl",
        rules => [{elvis_style, line_length, #{limit => 80,
                                               skip_comments => false}},
                  %% ...
                  {elvis_style, state_record_and_type},
                  {elvis_style, no_spec_with_records}
                 ]
       }
     ]
    }
   ]
 }
].
