{erl_opts, [debug_info]}.
{deps, [{ibrowse, "~>4.4.0"}]}.

{xref_checks,[undefined_function_calls,undefined_functions,locals_not_used,
              deprecated_function_calls, deprecated_functions]}.


{profiles,
 [{test, [{deps, [meck]}]},
  {eqc,  [{erl_opts, [{d, 'TEST'}]}, {plugins, [rebar_eqc]}]},
  {shell, [{deps, [sync]}]},
  {lint,
   [{plugins,
     [rebar3_lint]}]}]}.
